/* line 1 */
body {
  font-family: Verdana;
  font-size: 12px;
}

#gameContainer {
	width:640px;
	height:480px;
	position: relative;
	border: 1px solid #000;
}

.gamecanvas {
	position:absolute;
	left:0px;
	top:0px;
}

#gameBackground {
	z-index: 1;
}

#gameElements {
	z-index: 2;
}
