/* line 1 */
body {
  font-family: Verdana;
  font-size: 12px;
}

#gameContainer {
	position:relative;
	width:640px;
	height:480px;
	border: 1px solid #000;
}

#gameElements {
	position:absolute;
	left:0px;
	top:0px;
}

